.nameCard{
     background-color: rgb(26, 98, 154);
}

.nameCard *{
    background-color: #1a629a;
}

.console {
  font-family: "Courier New", monospace;
  white-space: nowrap;  
  overflow: hidden;     
  width: 0;
}


.console.h5.p1 {
    animation: typingH5p1 3s steps(30) 1s forwards;
    color: rgb(252, 233, 27);
    font-size: 3vw
}

.console.h5.p2 {
    animation: typingH5p2 3s steps(30) 8s forwards;
    color: #fce91b;
    font-size: 3vw
}


@keyframes typingH5p1 { 
  from {
    width: 0;
  }
  to {
    width: calc(35ch); 
  }
}

@keyframes typingH5p2 { 
  from {
    width: 0;
  }
  to {
    width: calc(32ch); 
  }
}


.console.h4.p1 {
    color: #fce91b;
    font-size: 2.7vw;
  animation: typingH4p1 3s steps(30) 4s forwards;
}

.console.h4.p2 {
    color: #fce91b;
    font-size: 2.7vw;
  animation: typingH4p2 3s steps(30) 12s forwards;
}



@keyframes typingH4p1 {
  from {
    width: 0;
  }
  to {
    width: calc(22ch);
  }
}

@keyframes typingH4p2 {
  from {
    width: 0;
  }
  to {
    width: calc(19ch);
  }
}



.button {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.r{
    background-color: #fe9929;
}
.y{
    background-color: #fce91b;
}
.g{
    background-color: #82bc60;
}