
.projectsText{
    font-size: 7vw;
     color: #1a629a;
     margin: 0%;
}


.carousel-item img{
    aspect-ratio: 6;
}

.carousel-item h5{
    color: #1a629a;
    font-weight: 700;
    font-family:'Trebuchet MS';
}

