

.skillsText{
    font-size: 7vw;
     color: #1a629a;
     margin: 0%;
}

img{
  width: 9vw;
}

img:hover {
  transform: scale(1.3) rotateZ(360deg);
  display: inline-block; /* Needed to scale inline elements */
  transition: transform 0.9s ease-in-out;
}